ENV['EMAIL_USER_NAME'] = 'PUT VALUE HERE'
ENV['EMAIL_PASSWORD'] = 'PUT VALUE HERE'
ENV['AWS_ACCESS_KEY_ID'] = 'PUT VALUE HERE'
ENV['AWS_SECRET_ACCESS_KEY'] = 'PUT VALUE HERE'

ENV['TWITTER_API_KEY'] = 'put value here'
ENV['TWITTER_API_SECRET'] = 'put value here'
