<% answers&.each do |answer| %>
  <div id="<%= dom_id(answer) %>">
    <p><%= answer.body %></p>
    <%= link_to '🗑',
      [@question, answer],
      method: :delete,
      remote: :true,
      data: { confirm: 'Are you sure?'}
      %>
    <hr />
  </div>
<% end %>
