<% answers&.each do |answer| %>
  <div>
    <p><%= answer.body %></p>
    <%= link_to '🗑',
      [@question, answer],
      method: :delete,
      data: { confirm: 'Are you sure?'}
      %>
    <hr />
  </div>
<% end %>
